h1{
    color: red !important;
    font-weight: bold !important;
    text-align: center !important;
    padding-bottom: 5% !important;
}
h2{
    padding-bottom: 2.5%;
    font-weight: bold !important;
    text-align: center !important;
}

.guthabenAnzeigen{
    font-weight: bold;
    font-size: 25px;
}

#einnahmenTotalPlatzhalter{
    color: green;
}

#ausgabenTotalPlatzhalter{
    color: red;
}